@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

.div-body{
          font-family: 'Alfa Slab One', cursive;

}

h1, h6{
    text-align: center;
}

.Card{
      margin: 0 auto;
      float: none; 
      margin-bottom: 10px; 
}

.cardBtn{
        position: relative;
        margin-top: 10px;
}

.Jumbotron{
      background-color: black;
      color:white;
}





